.jumbotron-fluid {
padding-bottom: 5em;
}

.navigation-bar {
padding-bottom: 5em;
}

body {
font-family: 'Raleway', sans-serif;
}

.carousel-caption {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}